<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>C1993844-E70A-4371-B93E-C598C0C5752A</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64e</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone11,8</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
